.thumbnail{margin-bottom:6px; width:100%;}
.carousel-control.left,.carousel-control.right{background-image:none;}
.gallery-page-col{padding:0}
.modal-dialog{width: 650px; margin:0px auto;}
.modal-footer{border-top: none;}